.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.sub-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.small-block {
    margin: 0.5rem;
}

.button_plan{
    font-family: 'Sniglet', cursive;
    font-size: 20px;
    background-color: rgba(172, 17, 35, 0.896);
    opacity: 100%;
    margin: 0.5rem;
    color: white;
    padding: 40px 80px;
    text-align: center;
    border-width: 2px;
    border-radius: 8px;
    border-color: rgba(172, 17, 35, 0.896);
    
}
.button_plan:hover{
    background-color: black;
    opacity: 60%;
    border-width: 2px;
    border-color: rgba(172, 17, 35, 0.896);
}